.components-ReposComponent-ReposComponent_repocontainer_1tJvEI .components-ReposComponent-ReposComponent_repos_3CzgMj{
    border: 1px solid blue;
    margin: 10px 0;
    padding: 0 20px;
}
.components-ReposComponent-ReposComponent_repocontainer_1tJvEI .components-ReposComponent-ReposComponent_repos_3CzgMj .components-ReposComponent-ReposComponent_name_2_WdBh{
    text-decoration: underline;
    color: green;
}.styles_links_IEcUvK{
	display: block;
	font-siz: 15px;
}